# Adria Ledger Gitignore

# Data & State (Runtime created)
apl_data/
**/apl_data/
*.db
*.wallets
*.wallet

# Zig Build Artifacts
zig-cache/
.zig-cache/
zig-out/
bench_data_consensus/

# Python Cache
__pycache__/
*.pyc

# Logs
*.log

# Test Artifacts
tests/*_addr.txt

# System / Editor
.DS_Store
.vscode/
